In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [5]:
sentences = [
    "python python python java java",
    "python python java html",
    "python html html html css"
]

In [7]:
# CountVectorizere

cv = CountVectorizer()

In [8]:
cv_obj = cv.fit_transform(sentences)

In [9]:
cv.get_feature_names()

['css', 'html', 'java', 'python']

In [13]:
import pandas as pd
cv_df = pd.DataFrame(cv_obj.todense(), columns=cv.get_feature_names())

# to dense : 주어진 문장 리스트의 fit, transform의 리턴을 행렬로 찍어주는 메서드

In [15]:
cv_obj.todense()

matrix([[0, 0, 2, 3],
        [0, 1, 1, 2],
        [1, 3, 0, 1]], dtype=int64)

In [14]:
cv_df

   css  html  java  python
0    0     0     2       3
1    0     1     1       2
2    1     3     0       1

In [16]:
# TfidfVectorizer

tv = TfidfVectorizer()

In [17]:
tv_obj = tv.fit_transform(sentences)

In [18]:
tv_df = pd.DataFrame(tv_obj.todense(), columns=tv.get_feature_names())

In [20]:
tv_obj.todense()

matrix([[0.        , 0.        , 0.651365  , 0.75876455],
        [0.        , 0.47606294, 0.47606294, 0.73941068],
        [0.39060049, 0.89118522, 0.        , 0.23069494]])

In [19]:
tv_df

      css      html      java    python
0  0.0000  0.000000  0.651365  0.758765
1  0.0000  0.476063  0.476063  0.739411
2  0.3906  0.891185  0.000000  0.230695

In [26]:
# tfidf Similarity
tv_similarity = pd.DataFrame((tv_obj * tv_obj.T).toarray(), columns=tv_df.index)

In [27]:
tv_similarity

          0         1         2
0  1.000000  0.871129  0.175043
1  0.871129  1.000000  0.594839
2  0.175043  0.594839  1.000000

In [28]:
tv.idf_

array([1.69314718, 1.28768207, 1.28768207, 1.        ])

In [29]:
tv.vocabulary_

{'css': 0, 'html': 1, 'java': 2, 'python': 3}