In [1]:
from selenium import webdriver
import pandas as pd

In [2]:
def epl_table():
    driver = webdriver.Chrome()
    driver.get('https://www.premierleague.com/tables')
    driver.find_element_by_css_selector("#advertClose").click()
    
    table = driver.find_elements_by_css_selector("#mainContent .tableBodyContainer")[0]
    
    groups = []
    group_1 = table.find_elements_by_css_selector(".tableDark")[0]
    groups.append(group_1)
    
    for num in range(3, 41, 2):
        group_2 = table.find_elements_by_css_selector("tr:nth-child("+str(num)+")")[0]
        groups.append(group_2)
    
    epl_table = pd.DataFrame(columns=['Ranking', 'Club', 'Pl', 'W', 'D', 'L', 'GD', 'Pts'])
    
    for team in groups:
        ranking = team.find_element_by_css_selector(".value").text
        club = team.find_element_by_css_selector(".team > a").text
        play = team.find_element_by_css_selector("td:nth-child(4)").text
        win = team.find_element_by_css_selector("td:nth-child(5)").text
        draw = team.find_element_by_css_selector("td:nth-child(6)").text
        lose = team.find_element_by_css_selector("td:nth-child(7)").text
        goal = team.find_element_by_css_selector("td:nth-child(10)").text
        pts = team.find_element_by_css_selector(".points").text

        data = {"Ranking" : ranking, 
                "Club" : club, 
                "Pl" : play,
                "W" : win,
                "D" : draw,
                "L" : lose,
                "GD": goal, 
                "Pts": pts}

        epl_table.loc[len(epl_table)] = data
    
    driver.close()
    
    epl_table.set_index('Ranking', inplace=True)
    epl_table.to_csv('epl_table')
    
    return "File generated !"

In [3]:
epl_table()

'File generated !'

In [4]:
data = pd.read_csv('epl_table', index_col = 0)

In [5]:
data

                             Club  Pl   W   D   L  GD  Pts
Ranking
1                 Manchester City  27  23   3   1  59   72
2               Manchester United  27  17   5   5  32   56
3                       Liverpool  27  15   9   3  30   54
4                         Chelsea  27  16   5   6  26   53
5               Tottenham Hotspur  27  15   7   5  28   52
6                         Arsenal  27  13   6   8  15   45
7                         Burnley  27   9   9   9  -3   36
8                  Leicester City  27   9   8  10  -1   35
9                         Everton  27   9   7  11 -14   34
10                    Bournemouth  27   8   7  12 -10   31
11                        Watford  27   8   6  13 -10   30
12                West Ham United  27   7   9  11 -12   30
13               Newcastle United  27   7   7  13 -11   28
14       Brighton and Hove Albion  27   6  10  11 -14   28
15                 Crystal Palace  27   6   9  12 -17   27
16                   Swansea City  27   7   6  14 -17   27
17              Huddersfield Town  27   7   6  14 -24   27
18                    Southampton  27   5  11  11 -12   26
19                     Stoke City  27   6   7  14 -26   25
20           West Bromwich Albion  27   3  11  13 -19   20